.post {
  width: 700px;
  height: 550px;
  background-color: #b4b4b4;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 3fr 0.8fr;
  padding: 15px;
  margin-bottom: 10px;
}

.postHeader {
  display: flex;
  align-items: center;
}

.headerInfo {
  margin-left: 10px;
  font-size: 16px;
}

.userImg {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.userImg img{
  width: 110px;
}

.postText {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.postPhots {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item img {
  width: 340px;
}

.postFooter {
  border-top: 1px solid #000;
  margin-top: 10px;
}

.icons img {
  width: 30px;
  margin-right: 20px;
  margin-top: 15px;
}